@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Newsreader:ital,wght@0,200;0,300;1,200;1,300;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,500&display=swap');

*{
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  
}
.wrapper {
  width: 100%;
  margin: 0 auto;
}
.container {
  width: 80%;
  margin: 0 auto;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 1rem;
}
nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
  text-transform: uppercase;
}
nav a {
  color: #011689;
  text-decoration: none;
  font-size: 0.9rem;
}
.navRight {
  width: 11%;
}
.navLeft {
  width: 13%;
}
.navLeft .navLogo {
  background: url("./images/otlogo.png");
  width: 8.5rem;
  height: 5rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.navMidd {
  width: 60%;
}
.social {
  width: 100%;
}
.navIcon {
  color: #011689 !important;
}
.panorama {
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 2.5rem 0;
  padding: 2rem;
  background: yellowgreen;
  height: 4rem;
}
.heroContent{
  width: 90%;
  margin: 0 auto;
  display: flex;
 justify-content: center;
}
.mySlides{
  display: none;
  z-index: 0;
}
.slideshow-container{
/* background: url('./images/baneri/bck.jpg');
background-size: cover;
background-position: center;
background-position:center;
background-repeat: no-repeat; */
/* background: #747b803d;
background:
 */width: 100%;
 margin-bottom: 3rem;
display: flex;
align-items: center;
justify-content: center;
}
.heroContent img{
  width: 80vw;
  height: 50vh;
}
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2.5s;
  animation-name: fade;
  animation-duration: 2.5s;
}
@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
.ucenjeZabava {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}
.ucenjeTekst {
  width: 50%;
}
.ucenjeTekst h1 {
  font-weight: bold;
  font-size: 3.3rem;
  color: #0099ff;
  font-family:'poppins', sans-serif;
  font-weight: 500;
  
}
.ucenjeTekst p {
  font-size: 1.6rem;
  font-family: 'Poppins', sans-serif;
  color: #011689;
}
.ucenjeParagraf {
  width: 70%;
}
.ucenjeVideo {
  width: 50%;
}
.videoContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: gray;
  color: #0099ff;
  height: 19rem;
  border: 4px solid #0099ff;
  border-radius: 2rem;
  overflow: hidden;
  box-shadow: 4px 3px 17px 1px rgba(0,141,225,0.36);
}

.panoramaIgre {
  background: #0099ff;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: auto;
  padding: 0;
  height: auto;
  margin: 4em auto;
  width: 100%;
}
.edukativneIgreTekst {
  width: 50%;
}
.edukativneIgreTekst h1 {
  font-weight: bold;
  font-size: 3rem;
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}
.edukativneIgreTekst p {
  font-size: 1.5rem;font-family: 'Poppins', sans-serif;

}
.edukativneIgreSlika {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 3rem;
  border-bottom-left-radius: 4rem;
}

.edukativneContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.gridPonudaIgara {
  width: 100%;
  margin: 1rem auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 3rem;
}
.ponudaIgre {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  color: white;
  height: 15rem;
  border-radius: 1rem;
}
.igra1 {
  border: 1px solid #e00713;
  background: #e00713;
}
.igra2 {
  border: 1px solid #ffda00;
  background: #ffda00;
}
.igra3 {
  border: 1px solid #92c01f;
  background: #92c01f;
}
.igra4 {
  border: 1px solid #00a7e7;
  background: #00a7e7;
}
.igra5 {
  border: 1px solid #009540;
  background: #009540;
}
.igra6 {
  border: 1px solid #0069b4;
  background: #0069b4;
}
.igra7 {
  border: 1px solid #c85096;
  background: #c85096;
}
.igra8 {
  border: 1px solid #e00713;
  background: #e00713;
} 
.ponudaIgre .img {
  background: white;
  width: 80%;
  margin: 0.1rem 0.1rem; 
  padding: 0.5rem;
  border-radius: 1rem;
}
.ponudaIgre .img img {
  width: 100%;
}
.ponudaIgreLink{
  text-decoration: none;
}
.ponudaIgre h2 {
  width: 80%;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 1.4rem;
  font-weight: 500;
  text-transform: uppercase;
}
.aktivnosti {
  width: 90%;
  margin: 6rem 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* flex-wrap: wrap; >> spusti izbor aktivnosti ispod */
}
.slobodneAktivnosti {
  width: 70%;
  background-color: #92c01f;

  color: white;
  padding: 1rem;
  height: auto;
}
.slobodneAktivnostiTitle {
  width: 100%;
  margin: 1rem auto;
  text-align: center;
}
.slobodneAktivnostiTitle h1 {
  font-size: 3rem;
  text-transform: uppercase;
}
.slobodneAktivnostiContent {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.sacSlika {
  width: 30%;
  margin-left: 2rem;
  height: auto;
}
.sacImg {
  width: 70%;
}

.sacTekst {
  width: 35%;
}
.sacTekst p {
  font-size: 1.5rem;
}
.izaberiAktivnost {
  width: 23%;
  color: white;
  background: #00a7e7;
  padding: 1rem;
  text-transform: uppercase;
  margin-left: 2.5rem;
}
.izaberiAktivnost h2 {
  font-size: 1.2rem;
  text-align: center;
}
.gridPonudaAktivnosti {
  display: grid;
  grid-template-columns: repeat(2, 0.7fr);
  row-gap: 1rem;
  column-gap: 1rem;
}
.gridPonudaAktivnosti a {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: black;
  padding: 0.3rem 0.1rem;
  border-radius: 0.5rem;
  background-color: white;
}
.panoramaPdfs {
  margin-top: -10rem;
  background: inherit;
  height: auto;
}
.gridPdfDownload {
  margin: 1rem auto;
  padding-top: 7rem;
  padding-bottom: 4rem;
}
.downloadSinglePdf {
  background-color: white;
  border: 4px solid red;
  width: 19rem;
  height: 14rem;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 2rem;
  -webkit-box-shadow: 0px 0px 12px 2px rgba(0, 0, 0, 0.81);
  box-shadow: 0px 0px 9px 2px rgba(218, 199, 30, 0.51);
}
.downloadSinglePdf h2 {
  font-family: "Patrick Hand", cursive;
  color: red;
  font-size: 2rem;
  margin-bottom: 0.5rem;
}
.downloadSinglePdf p {
  margin-bottom: 2rem;
  font-family: "Patrick Hand", cursive;
  font-size: 1.1rem;
}
.downloadSinglePdf button {
  padding: 0.7rem 1rem;
  background: #011689;
    color: white;
  font-family: "Patrick Hand", cursive;
  font-size: 1rem;
}
.downloadSinglePdf button a {
  color: white;
  text-decoration: none;
}
.gridPdfDownload {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 2rem;
  column-gap: 1rem;
}
.panoramaLokacija {
  background: #ffdd00;
  color: #011689;
  padding: 5rem 2rem;
}
.containerLokacija {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 55%;
  flex-wrap: wrap;
}

.lokacijaLeft {
  width: 30%;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1rem;
}
.lokacijaRight {
  width: 45%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}
.lokacijaRight h1 {
  text-transform: uppercase;
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}
.lokacijaRight a {
  text-decoration: none;
  color: #011689;
  border: 1px solid #011689;
  padding: 0.4rem 0.6rem;
  font-size: 1.2rem;
  text-transform: capitalize;
}

.oNamaWrapp {
  width: 100%;
  height: 30rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.oNamaLeft {
  width: 50%;

  height: 90%;
}
.oNamaLeft .image1 {
  width: 70%;
  height: 13rem;

  margin: 1rem auto 5rem;
  border-radius: 2rem;
}

.oNamaLeft .image2 {
  width: 40%;
  height: 10rem;

  margin: 1rem auto 5rem;
  border-radius: 2rem;
}

.oNamaRight {
  width: 40%;
  border: 1px solid #3aaa35;
  height: 90%;
}

.oNamaRight {
  color: white;
  background: #3aaa35;
  text-align: right;
  padding: 2rem;
}

.oNamaRight h1 {
  text-transform: uppercase;
  margin: 2rem auto;
}

.oNamaRight p {
  font-size: 1.5rem;
  line-height: 2rem;
}
.oNamaWrapp2 {
  width: 100%;
}

.firstPart {
  display: flex;
  flex-wrap: wrap;
  margin: 10rem auto 2rem;
}

.partText {
  padding: 3rem 4rem;
  width: 40%;
  background: #0069b4;
  color: white;
  height: auto;

  font-size: 1.5rem;
  line-height: 2rem;
}
.partImg {
  width: 25%;
  height: 15rem;
  margin: 3rem auto;
  border-radius: 2rem;
}

.secondPart {
  width: 100%;
  margin-right: 10%;
  height: auto;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

.secondPartText6 {
  background: white;
  color: #0069b4;
  margin: 0;
}

.secondPartImg {
  border-color: #0069b4;
  width: 40%;
  height: 20rem;
}
.partImg .secondPartImg img{
  width: 30rem;
}
footer {
  width: 100%;
  margin: 2rem auto 0;
  background-color: rgb(0, 144, 192);
  height: 10rem;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-weight: 100;
}
footer .navLogo {
  background: url("./images/otlogo.png");
  width: 8.5rem;
  height: 5rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.footerMid p {
  font-size: 1.3rem;
}
.footerRight {
  width: 10%;
}
.footerRight ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  list-style-type: none;
}
.socialIcon {
  font-size: 1.6rem;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: #011689;
  margin: 5px;
}
.burger {
  display: none;
  cursor: pointer;
  margin-left: 85%;
}

.podkategorijaIgre {
}
.igraHover {
}

.description {
  z-index: 100;
  display: none;
}
.titleDesc {
  font-size: 2rem;
  font-weight: 500;
}

.igraHover:hover + .description {
  color: white;
  background: #0099ffe3;
  min-height: 30vw;
  height: auto;
  width: 60vw;
  display: block;
  position: absolute;
  right: 19%;
  border: 1px solid #0099ffbe;
  padding: 2rem;
  text-align: center;
  font-size: 1.4rem;
  line-height: 2rem;
  font-family: 'Poppins', sans-serif;
}


@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  .burger {
    display: block;
  }

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .container{
    width: 90%;
  }

  .navRight {
    display: none;
  }

  .headerList {
    position: absolute;
    right: 0px;
    top: 4.2rem;
    height: 100vh;
    background-color: #011589f1;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-evenly;
    width: 100%;
    color: #fff;
    z-index: 300;
    transform: translate(100%);
  }

  .ucenjeTekst h1{
    font-size: 2.5rem;
  }

  .headerList a {
    color: #fff;
  }
  
  .ucenjeVideo{
    width: 100%;
    margin-top: 2rem;
  }

  .edukativneIgreTekst {
    width: 100%;
    text-align: center;}

    .edukativneContainer{
      flex-direction: column;
    }
    .edukativneIgreSlika {
      margin-top: 2rem;
    }
    .aktivnosti{
      flex-direction: column;
    }
    .slobodneAktivnosti{
      width: 100%;
    }
    .slobodneAktivnostiTitle h1{
      font-size: 2.5rem;
    }
  .ucenjeZabava {
    width: 100%;
    text-align: center;
  }
  .aktivnosti{
    width: 100%;

  }
  .sacImg img{
    width: 20rem;
  }
  .slobodneAktivnostiContent{
    flex-direction: column;
  }
.sacSlika {
  width: 100%;
  margin: 0;
}
.sacTekst {
  width: 100%;
  text-align: center;
  margin-top: 1.5rem;}
  .ucenjeTekst {
    width: 98%;
    text-transform: capitalize;
  }

  .ucenjeParagraf {
    width: 100%;
  }
  .heroContent img {
    width: 85vw;
    height: 27vh;}
  /*   <div class="description">
  <div class="titleDesc">Shopping</div>
  <p>

  <br>
  </p>
  </div> */

  .gridPonudaIgara {
    grid-template-columns: 1fr;
  }
  .ponudaIgre {
    width: 100%;
  }
  .gridPdfDownload {
    grid-template-columns: 1fr;
  }
  .izaberiAktivnost {
    width: 90%;
  }
  .partText {
    width: 100%;
    padding: 3rem 2rem;
    font-size: 1.2rem;
    line-height: 1.7rem;
    text-align: center;
  }
  .panoramaLokacija{
    height: auto;
  }
  .lokacijaLeft {
    width: 100%;
    text-align: center;}
.izaberiAktivnost {
    width: 100%;
    margin: 1rem 0;
}
.lokacijaRight {
  width: 100%;
  flex-direction: column;}
  .lokacijaRight div{
    margin: 1rem auto;
  }

  .oNamaRight {
    text-align: center;
    margin: 1rem auto;
    width: 100%;}

  .oNamaRight p {
    font-size: 1.2rem;
    line-height: 1.7rem;}
 
  .panoramaLokacija{
    width: 100%;
  }
  .footerLeft{
    display: none;
  }
  .footerRight {
    width: 26%;
}
.footerMid p{
  font-size: 1rem;
}
  .oNamaLeft .image1 {
    width: 75%;}
    .image1 img{
      width: 17rem;
    }
    .oNamaLeft .image2 {
      width: 85%;
      height: 10rem;
      margin: 1rem auto 8rem;}
  .partImg {
    width: 90%;
    margin: 2rem auto;
  }
  .partImg img{
    width: 20rem;
  }
  .containerLokacija {
    flex-direction: column;
  }
.secondPartImg img {
  width: 20rem;
}
  .oNamaLeft {
    width: 100%; 
    margin: 4rem auto 0;  
  }
  .oNamaWrapp {
    height: auto;
    flex-wrap: wrap;
    flex-direction: column; 
  }
  footer{
    margin-top: 0;
  }
.gridPonudaIgara {
  position: relative;
}
  .igraHover:hover + .description {
    color: white;
    background: #0099ffe3;
    min-height: 500vw;
    height: auto;
    width: 100vw;
    display: block;
   right: 0%;
    border: 1px solid #0099ffbe;
    padding: 0.5rem;
    text-align: center;
    font-size: 1.2rem;
    line-height: 1.8rem;
    font-family: 'Poppins', sans-serif;
  }

  .ponudaIgre .img {
    background: white;
    width: 79%;
    margin: 0.1rem 0.1rem;
    /* padding: 0.5rem; */
    height: 10rem;    border-radius: 1rem;
}

  .ponudaIgre .img img {
    width: 98%;
    height: 97%;
}
.videoContainer {
  overflow:hidden !important;
}
}

.nav-active {
  transform: translate(0%);
  transition: transform 0.5s ease-in;

}
